@font-face {
  font-family: 'Nunito-Italic-VariableFont_wght';
  src: url('./font/Russo_One/Nunito-Italic-VariableFont_wght.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: 'Nunito-Italic-VariableFont_wght';
}

.Card {
  padding: 1rem;
  width: 50ch;
  border: 3px solid black;
}
